img {
	width: 300px;
}

* { 
font-family: arial;
text-align: center;}

.aligncenter {
    text-align: center;
}


h1 {
  text-align: center;
  color: #F962A6;
  font-size: 80px;
}


h2 {
color: #7209B7;
font-size: 40px;}

h3 {
  color: #F962A6;
  font-size: 35px;}

h4, p {
  color: white;
  font-size: 25px;}

a {
	color: white;
	font-size: 25px;}
	
a:hover {
	color: #6881F3;}

body {
  background-color: black;}
    